.aws-btn {
    --button-default-height: 500px;
    --button-default-font-size: 24px;
    --button-default-border-radius: 5px;
    --button-horizontal-padding: 50px;
    --button-raise-level: 10px;
    --button-hover-pressure: 3;
    --transform-speed: 0.1s;
    --button-primary-color: #49536f;
    --button-primary-color-dark: #2b3041;
    --button-primary-color-light: #d4d8e3;
    --button-primary-color-hover: #444d67;
    --button-primary-color-active: #3d455d;
    --button-primary-border: 2px solid #2b3041;
    --button-secondary-color: #fefc81;
    --button-secondary-color-dark: #cbc802;
    --button-secondary-color-light: #7f7d01;
    --button-secondary-color-hover: #fefb53;
    --button-secondary-color-active: #fdfa1c;
    --button-secondary-border: 2px solid #cbc802;
    --button-anchor-color: #eccab1;
    --button-anchor-color-dark: #6d4b29;
    --button-anchor-color-light: #48321b;
    --button-anchor-color-hover: #e9c2a5;
    --button-anchor-color-active: #e4b490;
    --button-anchor-border: 2px solid #6d4b29;
    --button-danger-color: #c42e2e;
    --button-danger-color-dark: #861f1f;
    --button-danger-color-light: #ffffff;
    --button-danger-color-hover: #bc2c2c;
    --button-danger-color-active: #af2929;
    --button-danger-border: none;
}